.ProseMirror {
    min-height: calc(100vh - 140px);
    max-height: 600px;
    overflow-y: auto;
}
.p {
    background-color: red;
    color: red;
}
.div {
    background-color: red;
}
.bg-red-50 {
    color:blue;

}